.search-bar{
    font-size: 20px;
    margin-left: 12px;
    display: inline-block;
    height: 35px;
    width: 0px;
    flex: 1;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    padding-left: 10px;
}
.search-bar::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.search .tooltip,
.voice-search .tooltip,
.upload-icon-container .tooltip,
.ntf-cnt .tooltip{
    position: absolute;
    background-color:gray;
    color:white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -23px;
    opacity: 0;
    font-family: 'Roboto', sans-serif;
}
.search:hover .tooltip,
.voice-search:hover .tooltip,
.upload-icon-container:hover .tooltip,
.ntf-cnt .tooltip{
    opacity: 1;
}
.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(153, 153, 153);
    z-index: 1;
}
.left-section{
    align-items: center;
    display: flex;
    margin-left: 25px;
}
.middle-section{
    flex: 1;
    margin-left: 75px;
    margin-right: 35px;
    max-width: 600px;
    align-items: center;
    display: flex;
}
.right-section{
    width: 156px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.hamburger-menu{
    width: 24px;
    margin-right: 15px;
}
.youtube-logo{
    width: 90px;
    margin-left: 15px;
}
.search{
    height: 39px;
    width:64px;
    margin-right: 10px;
    margin-left: -1px;
}
.voice-search{
    height: 40px;
    width: 41px;
    border-radius: 20px;
    border: none;
}
.icon{
    width: 24px;
    display: inline-block;
}
.avatar{
    border-radius: 18px;
    width: 32px;
}
.notification-icon{
    width: 24px;
}
.upload-icon{
    width: 24px;
}
.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 72px;
    background-color: white;
    z-index: 200;
}
.notification-icon-container{
    position: relative;
}
.notification-count{
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #CC0000;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
}
.sidebar-link{
    height: 74px;
    margin-top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.linked-right{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
.sidebar-icon{
    width: 24px;
    display: inline-block;
    margin-bottom: 4px;
}
.line{
    background-color: rgb(250, 250, 250);
    color: lightgray;
    margin: 10px;
    height: 44px;
    border-style: solid;
    border-left: none;
    border-right: none;
}
